@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Xanh+Mono&display=swap');

body 
{
	background-color: #333333 !important;
}

h1, h2{
	font-family: 'Roboto', sans-serif;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 1px;
	text-transform: uppercase;
}

h3
{
	font-family: 'Xanh Mono';
	color: white;
}

p
{
	color: white;
}

select
{
	height: 30px !important;
}

.connexion_box
{
	display: flex !important;
	flex-direction: columns  !important;
	align-items: center !important;
}